/* Whole Page CSS */
body {
  font-family: 'Roboto', sans-serif;
}

a {
  text-decoration: none;
  color: white;
}

/* Navigation Bar */
.nav {
  width: 100%;
  position: fixed;
  top: 0;
  background: rgba(0, 0, 0, 0.2);
  overflow: hidden;
  z-index: 3;
}

.nav-list {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

.nav-item {
  display: inline;
  padding: 20px 60px 40px 0px;
  float: right;
}

.nav-item strong {
  text-shadow: 1px 1px gray;
}

/********************************************************/

.AboutPage {
  /* grid-row: 4; */
}

.AboutPage div {
  height: 900px;
}

.AboutPage hr {
  width: 26%;
  background-color: red;
  border-color: red;
  height: 0.07%;
}

.AboutPage .container {
  display: grid;
  grid-template-columns: 50% 50%;
}

.AboutPage .left-side {
  grid-column: 1;
  display: grid;
  grid-template-columns: 27% 46% 27%;
  grid-template-rows: 10% auto;
}

.AboutPage article h1 {
  font-size: 250%;
  grid-row: 2;
  font-weight: bolder;
}

.AboutPage .left-side article {
  grid-column: 2;
  grid-row: 2;
  position: relative;
  top: 50%;
  text-align: left;
  transform: translate(0, -50%);
  padding: 1rem;
}

.AboutPage article p {
  margin-top: 2vw;
  font-size: 115%;
  line-height: 2;
}

.AboutPage .right-side {
  grid-column: 2;
}

.AboutPage .right-side .imgText {
  position: relative;
  color: white;
  height: 10%;
  padding: 50px 290px 100px 250px;
  text-align: center;
  font-size: 115%;
  transform: translate(0, -545%);
  background: rgba(0, 0, 0, 0.6);
}

.AboutPage img {
  grid-column: 2;
  max-width: 100%;
}

/* if viewed on an iPad */
@media screen and (min-width: 768px) and (max-width: 1024px) {
  img {
    max-height: 768px;
    max-width: 1024px;
  }

  /* Navigation Bar */
  .nav {
    width: 1024px;
  }

  .nav-item {
    display: inline;
    padding: 20px 20px 40px 0px;
  }

  .AboutPage .left-side {
    grid-template-columns: 24% auto 24%;
    grid-template-rows: 10% auto;
  }

  .AboutPage article h1 {
    font-size: 200%;
    font-weight: bolder;
  }

  .AboutPage .left-side article {
    top: 50%;
    text-align: left;
    transform: translate(0, -50%);
    padding: 1rem;
  }

  .AboutPage article p {
    font-size: 75%;
    line-height: 1.6;
  }

  .AboutPage .right-side .imgText {
    height: 8%;
    padding: 25px 130px 60px 130px;
    font-size: 75%;
    transform: translate(0, -430%);
  }
}

/* if viewed on an iPad Pro*/
@media screen and (min-width: 1025px) and (max-width: 1366px) {
  img {
    max-height: 1024px;
    max-width: 1366px;
  }

  /* Navigation Bar */
  .nav {
    width: 100%;
  }

  .nav-item {
    display: inline;
    padding: 20px 50px 40px 0px;
  }

  .AboutPage .left-side {
    grid-template-columns: 25% auto 25%;
    grid-template-rows: 10% auto;
  }

  .AboutPage article h1 {
    font-size: 250%;
    font-weight: bolder;
  }

  .AboutPage .left-side article {
    top: 50%;
    text-align: left;
    transform: translate(0, -50%);
    padding: 1rem;
  }

  .AboutPage article p {
    font-size: 100%;
    line-height: 1.6;
  }

  .AboutPage .right-side .imgText {
    height: 10%;
    padding: 30px 160px 70px 160px;
    font-size: 100%;
    transform: translate(0, -520%);
  }
}
/* if viewed on an 13" Mac*/
@media screen and (min-width: 1367px) and (max-width: 1500px) {
  img {
    max-height: 1024px;
    max-width: 1500px;
  }

  /* Navigation Bar */
  .nav {
    width: 100%;
  }

  .nav-item {
    display: inline;
    padding: 20px 50px 40px 0px;
  }

  .AboutPage .left-side {
    grid-template-columns: 25% auto 25%;
    grid-template-rows: 10% auto;
  }

  .AboutPage article h1 {
    font-size: 250%;
    font-weight: bolder;
  }

  .AboutPage .left-side article {
    top: 50%;
    text-align: left;
    transform: translate(0, -50%);
    padding: 1rem;
  }

  .AboutPage article p {
    font-size: 100%;
    line-height: 1.6;
  }

  .AboutPage .right-side .imgText {
    height: 10%;
    padding: 30px 160px 70px 160px;
    font-size: 100%;
    transform: translate(0, -520%);
  }
}
