/* Whole Page CSS */
body {
  font-family: 'Roboto', sans-serif;
}

img {
  max-width: 100%;
  height: auto;
}

a {
  text-decoration: none;
  color: white;
}

.container {
  height: 1200px;
}

/* Navigation Bar */
.nav {
  width: 100%;
  position: fixed;
  top: 0;
  background: rgba(0, 0, 0, 0.2);
  overflow: hidden;
  z-index: 3;
}

.nav-list {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

.nav-item {
  display: inline;
  padding: 20px 60px 40px 0px;
  float: right;
}

.nav-item strong {
  text-shadow: 1px 1px gray;
}

/* *****************Contact Page********************** */
.container {
  max-height: 1200px;
}

.ContactPage {
  max-height: 1200px;
}

.ContactPage .pageCard {
  background: rgba(0, 0, 0, 0.6);
  color: white;
  padding: 100px 50px 100px 70px;
  height: 650px;
  width: 87%;
  transform: translate(120px, -160%);
  font-size: 140%;
  display: grid;
  grid-template-columns: 25% 25% auto;
}

.ContactPage .pageCard .location {
  grid-column: 1;
}

.ContactPage .pageCard .mailing {
  grid-column: 2;
}

.ContactPage .pageCard .contact {
  grid-column: 1;
}

.ContactPage .pageCard .office {
  grid-column: 2;
}

.ContactPage .pageCard .intro {
  grid-column: span 2;
  line-height: 1.5;
}

.ContactPage .pageCard p {
  line-height: 0.8;
}

.ContactPage .formCard h1 {
  color: black;
  width: 100%;
}

.ContactPage .formCard hr {
  width: 28%;
  background-color: red;
  border-color: red;
  transform: translate(0px, 0%);
}

.formCard {
  position: relative;
  text-align: left;
  background: white;
  width: 70%;
  height: 650px;
  transform: translate(150px, -45%);
}

.cardContainer {
  padding: 25px 50px;
}

/* Form styling */
.formCard input {
  width: 90%;
  margin-top: 12px;
  padding: 10px;
  color: gray;
  border: 2px solid #C8CCCE;
}

.formCard textarea {
  width: 90%;
  height: 150px;
  margin-top: 12px;
  padding: 10px;
  color: gray;
  border: 2px solid #C8CCCE;
  resize: none;
}

.formCard input[type=submit] {
  background-color: red;
  color: white;
  cursor: pointer;
  border: none;
  font-weight: 500;
}

/* if viewed on an iPad */
@media screen and (min-width: 768px) and (max-width: 1024px) {
  .container {
    height: 768px;
  }

  /* Logo pic */
  .NavLogo {
    width: 170px;
    margin-left: 427px;
    margin-top: 10px;
  }

  /* Navigation Bar */
  .nav {
    width: 1024px;
  }

  .nav-item {
    display: inline;
    padding: 20px 20px 40px 0px;
  }

  .ContactPage .pageCard {
    padding: 50px 50px 100px 70px;
    height: 450px;
    transform: translate(70px, -110%);
    grid-template-columns: 35% 21% auto;
  }

  .ContactPage .pageCard .intro {
    line-height: 1.2;
    grid-column: span 2;
  }

  .ContactPage .pageCard p {
    line-height: 0.5;
  }

  .ContactPage .formCard h1 {
    width: 100%;
    margin-top: 8px;
    font-size: 160%;
  }

  .ContactPage .formCard hr {
    width: 38%;
    margin-top: 8px;
  }

  .formCard {
    width: 90%;
    height: 450px;
    transform: translate(30px, -55%);
  }

  .cardContainer {
    padding: 20px 40px;
  }

  /* Form styling */
  .formCard input {
    width: 100%;
    margin-top: 5px;
    padding: 5px;
    border: 1px solid #C8CCCE;
  }

  .formCard textarea {
    width: 100%;
    height: 90px;
    margin-top: 5px;
    padding: 5px;
    border: 1px solid #C8CCCE;
  }

  .formCard input[type=submit] {
    background-color: red;
    font-weight: 500;
  }
}

/* if viewed on an iPad Pro*/
@media screen and (min-width: 1025px) and (max-width: 1366px) {
  .container {
    height: 1024px;
  }

  /* Logo pic */
  .NavLogo {
    width: 200px;
    margin-left: 583px;
    margin-top: 10px;
  }

  /* Navigation Bar */
  .nav {
    width: 100%;
  }

  .nav-item {
    display: inline;
    padding: 20px 50px 40px 0px;
  }

  .ContactPage .pageCard {
    padding: 50px 50px 100px 70px;
    height: 630px;
    font-size: 150%;
    transform: translate(90px, -110%);
    grid-template-columns: 30% 21% auto;
  }

  .ContactPage .pageCard .intro {
    margin-top: 25px;
    line-height: 1.4;
    grid-column: span 2;
  }

  .ContactPage .pageCard p {
    line-height: 0.4;
  }

  .ContactPage .formCard h1 {
    width: 100%;
    margin-top: 8px;
    font-size: 200%;
  }

  .ContactPage .formCard hr {
    width: 33%;
    margin-top: 8px;
  }

  .formCard {
    width: 85%;
    height: 600px;
    transform: translate(70px, -47%);
  }

  .cardContainer {
    padding: 20px 40px;
  }

  /* Form styling */
  .formCard input {
    width: 100%;
    margin-top: 8px;
    padding: 6px;
    border: 1px solid #C8CCCE;
  }

  .formCard textarea {
    width: 100%;
    height: 130px;
    margin-top: 5px;
    padding: 5px;
    border: 1px solid #C8CCCE;
  }
}
