/* Whole Page CSS */
body {
  font-family: 'Roboto', sans-serif;
}

img {
  max-width: 100%;
  height: auto;
}

a {
  text-decoration: none;
  color: white;
}

.container {
  height: 1200px;
}

/* Navigation Bar */
.nav {
  width: 100%;
  position: fixed;
  top: 0;
  background: rgba(0, 0, 0, 0.2);
  overflow: hidden;
  z-index: 3;
}

.nav-list {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

.nav-item {
  display: inline;
  padding: 20px 60px 40px 0px;
  float: right;
}

.nav-item strong {
  text-shadow: 1px 1px gray;
}

/* *****************Contact Page********************** */
.container {
  max-height: 1200px;
}

.ContactPage {
  max-height: 1200px;
}

.ContactPage .pageCard {
  background: rgba(0, 0, 0, 0.6);
  color: white;
  padding: 100px 50px 100px 70px;
  height: 650px;
  width: 87%;
  transform: translate(120px, -160%);
  font-size: 120%;
  display: grid;
  grid-template-columns: 25% 30% auto;

}

.ContactPage .pageCard .location {
  grid-column: 1;
}

.ContactPage .pageCard .mailing {
  grid-column: 2;
}

.ContactPage .pageCard .contact {
  grid-column: 1;
}

.ContactPage .pageCard .office {
  grid-column: 2;
}

.ContactPage .pageCard .intro {
  line-height: 1.6;
}

.ContactPage .pageCard p {
  line-height: 0.8;
}

.ContactPage .formCard h1 {
  color: black;
  width: 100%;
}

.ContactPage .formCard hr {
  width: 28%;
  background-color: red;
  border-color: red;
  transform: translate(0px, 0%);
}

.formCard {
  position: relative;
  text-align: left;
  background: white;
  width: 70%;
  height: 650px;
  transform: translate(110px, -45%);
}

/* Add some padding inside the card container */
.cardContainer {
  padding: 25px 50px;
}

/* Form styling */
.formCard input {
  width: 90%;
  margin-top: 12px;
  padding: 10px;
  color: gray;
  border: 2px solid #C8CCCE;
}

.formCard textarea {
  width: 90%;
  height: 150px;
  margin-top: 12px;
  padding: 10px;
  color: gray;
  border: 2px solid #C8CCCE;
  resize: none;
}

.formCard input[type=submit] {
  background-color: red;
  color: white;
  cursor: pointer;
  border: none;
  font-weight: 500;
}
