body {
  font-family: 'Roboto', sans-serif;
}

a {
  text-decoration: none;
  color: white;
}
.GalleryPage {
  grid-row: 6;

}
.mySlides {
  /* display:none; */
  min-height: 100%;
  /* width: 100%; */
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  max-width: 100%;
  max-height: 100%;
  margin: auto;
  overflow: auto;
}

}
.w3-left, .w3-right, .w3-badge {
  cursor:pointer;
  position: relative;
}
.w3-badge {
  height:13px;
  width:13px;
  padding:0;
}
