/* Whole Page CSS */
body {
  font-family: 'Roboto', sans-serif;
}

a {
  text-decoration: none;
  color: white;
}

/* Logo pic */
.NavLogo {
  position: absolute;
  z-index: 2;
  width: 300px;
  top: 0;
  left: 0;
  margin-left: 800px;
}

/* Navigation Bar */
.nav {
  width: 100%;
  position: fixed;
  top: 0;
  background: rgba(0, 0, 0, 0.2);
  overflow: hidden;
  z-index: 1;
}

.nav-list {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

.nav-item {
  display: inline;
  padding: 20px 60px 40px 0px;
  float: right;
}

.nav-item strong {
  text-shadow: 1px 1px gray;
}

/************************* Home Page *******************************/
.HomePage .HomeImage {
  z-index: -1;
}

/* Scroll snap for later */
.scroller {

  scroll-snap-type: mandatory;

  /* older spec implementation */
  scroll-snap-destination: 0% 100%;
  scroll-snap-points-y: repeat(100%);
}

.page {
  scroll-snap-align: start;
}
