/* Whole Page CSS */
body {
  font-family: 'Roboto', sans-serif;
}

a {
  text-decoration: none;
  color: white;
}

/* Logo pic */
.NavLogo {
  position: absolute;
  z-index: 2;
  width: 300px;
  top: 0;
  left: 0;
  margin-left: 800px;
}

/* Navigation Bar */
.nav {
  width: 100%;
  position: fixed;
  top: 0;
  background: rgba(0, 0, 0, 0.2);
  overflow: hidden;
  z-index: 1;
}

.nav-list {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

.nav-item {
  display: inline;
  padding: 20px 60px 40px 0px;
  float: right;
}

.nav-item strong {
  text-shadow: 1px 1px gray;
}

/************************* Home Page *******************************/
.HomePage .HomeImage {
  /* position: fixed; */
  z-index: -1;
  min-width: 100%;
  min-height: 100%;
  top: 0;
  left: 0;
}

/* if viewed on an iPad */
@media screen and (min-width: 768px) and (max-width: 1024px) {
  img {
    max-height: 768px;
    max-width: 1024px;
  }

  /* Logo pic */
  .NavLogo {
    width: 170px;
    margin-left: 427px;
    margin-top: 10px;
  }

  /* Navigation Bar */
  .nav {
    width: 1024px;
  }

  .nav-item {
    display: inline;
    padding: 20px 20px 40px 0px;
  }
}

/* if viewed on an iPad Pro*/
@media screen and (min-width: 1025px) and (max-width: 1366px) {
  img {
    max-height: 1024px;
    max-width: 1366px;
  }

  /* Logo pic */
  .NavLogo {
    width: 200px;
    margin-left: 583px;
    margin-top: 10px;
  }

  /* Navigation Bar */
  .nav {
    width: 100%;
  }

  .nav-item {
    display: inline;
    padding: 20px 50px 40px 0px;
  }
}



/* Scroll snap for later */
.scroller {

  scroll-snap-type: mandatory;

  /* older spec implementation */
  scroll-snap-destination: 0% 100%;
  scroll-snap-points-y: repeat(100%);
}

.page {
  scroll-snap-align: start;
}
@media screen and (min-width: 1367px) and (max-width: 1500px) {
  img {
    max-height: 1024px;
    max-width: 1500px;
  }

  /* Logo pic */
  .NavLogo {
    width: 175px;
    margin-left: 597.5px;
    margin-top: 30px;
  }

  /* Navigation Bar */
  .nav {
    width: 100%;
  }

  .nav-item {
    display: inline;
    padding: 20px 50px 40px 0px;
  }

  .AboutPage .left-side {
    grid-template-columns: 25% auto 25%;
    grid-template-rows: 10% auto;
  }

  .AboutPage article h1 {
    font-size: 250%;
    font-weight: bolder;
  }

  .AboutPage .left-side article {
    top: 50%;
    text-align: left;
    transform: translate(0, -50%);
    padding: 1rem;
  }

  .AboutPage article p {
    font-size: 100%;
    line-height: 1.6;
  }

  .AboutPage .right-side .imgText {
    height: 10%;
    padding: 30px 160px 70px 160px;
    font-size: 100%;
    transform: translate(0, -520%);
  }
}
