/* Whole Page CSS */
body {
  font-family: 'Roboto', sans-serif;
}

img {
  max-width: 100%;
  height: auto;
}

a {
  text-decoration: none;
  color: white;
}

.MainContent {
  display: grid;
  grid-template-columns: auto;
  grid-template-rows: 6;
  grid-template-columns: 2;
}

/* Logo pic */
.NavLogo {
  position: absolute;
  z-index: 2;
  width: 15%;
  padding-left: 45%;
}

/* Navigation Bar */
.nav {
  width: 100%;
  position: fixed;
  top: 0;
  background: rgba(0, 0, 0, 0.2);
  overflow: hidden;
}

.nav-list {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

.nav-item {
  display: inline;
  padding: 20px 60px 40px 0px;
  float: right;
}

.nav-item strong {
  text-shadow: 1px 1px gray;
}

/* Home Page */
.HomePage {
  grid-row: 2;
}

/* Welcome Page */
.WelcomePage {
  grid-row: 3;
}

/* ****************About Page**************** */
.AboutPage {
  grid-row: 4;
}

.AboutPage section {
  color: black;
}

.AboutPage div {
  height: 100%;
}

.AboutPage hr {
  width: 25%;
  background-color: red;
  border-color: red;
}

.AboutPage .container {
  display: grid;
  grid-template-columns: 50% 50%;
}

.AboutPage .left-side {
  background: white;
  grid-column: 1;
  display: grid;
  grid-template-columns: 25% 50% 25%;
  grid-template-rows: 13% auto;
}

.AboutPage article h1 {
  font-size: 250%;
  grid-row: 2;
}

.AboutPage .left-side article {
  grid-column: 2;
  grid-row: 2;
  position: relative;
  top: 50%;
  text-align: left;
  transform: translate(0, -50%);
  padding: 1rem;
}

.AboutPage article p {
  margin-top: 2vw;
  font-size: 115%;
  line-height: 2;
}

.AboutPage .right-side {
  grid-column: 2;
}

.AboutPage .right-side .imgText {
  position: relative;
  color: white;
  height: 3%;
  padding: 40px 250px 40px 250px;
  text-align: center;
  font-size: 115%;
  transform: translate(0, -545%);
  background: rgba(0, 0, 0, 0.6);
}

.AboutPage img {
  grid-column: 2;
}

/* *****************Contact Page********************** */
.ContactPage {
  grid-row: 5;
}

/* Gallery Page */
.GalleryPage {
  grid-row: 6;
}

/* Scroll snap for later */
.scroller {

  scroll-snap-type: mandatory;

  /* older spec implementation */
  scroll-snap-destination: 0% 100%;
  scroll-snap-points-y: repeat(100%);
}

.page {
  scroll-snap-align: start;
}
