body {
  font-family: 'Roboto', sans-serif;
}

a {
  text-decoration: none;
  color: white;
}
.NavLogo {
  position: absolute;
  z-index: 2;
  width: 15%;
  padding-left: 45%;
}

/* Navigation Bar */
.nav {
  width: 100%;
  position: fixed;
  top: 0;
  background: rgba(0, 0, 0, 0.2);
  overflow: hidden;
  z-index: 3;
}

.nav-list {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

.nav-item {
  display: inline;
  padding: 20px 60px 40px 0px;
  float: right;
}

.nav-item strong {
  text-shadow: 1px 1px gray;
}
.WelcomePage {
  height: 1150px;
}

.WelcomeImage {
  width: 100%;
}

.WelcomePage hr {
  width: 7%;
  background-color: red;
  border-color: red;
  margin-left: 46.5%;
}

.WelcomePage h1 {
  position: relative;
  text-align: center;
  font-size: 310%;
  color: white;
  /* margin-bottom: 2.5vh; */
  /* font-weight: 200; */
}

.WelcomePage .sealtext {
  position: absolute;
  text-align: center;
  font-size: 130%;
  color: white;
  padding: 2% 32% 0 32%;
  line-height: 2rem;
  /* margin-top: 0.5vh; */
}

.WelcomePage article {
transform: translate(0%, -1100%);
}
